*{
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", sans-serif;
}

body{
  background-image: url("comparisonbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

nav ul{
  float: right;
  margin-top: 0.95vh;
  margin-left: 0.25vh;
  margin-right: 0.25vh;
}

nav ul li{
  display: inline-block;
  transition: box-shadow 0.5s;
  padding: 0.4vh 2vh;
}

nav li:hover{
  box-shadow: 0px 0px 0px 2px black inset;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

.logo img{
  width:30vh;
  position: relative;
  top:0%;
  right: 0%;
  margin-left:0.7vh;
  margin-top:0.7vh;
}

.title{
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title > h1{
  color: black;
  font-size: 70px;
}

.button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.btn{
  border: 1px solid black;
  color: black;
  text-decoration: none;
  display: inline-block;
  transition: box-shadow 0.5s;
  padding: 0.4vh 2vh;
}

.btn:hover{
  box-shadow: 0px 0px 0px 2px black inset;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-55%,-50%);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:rgba(192,192,192,0.3);
}

.center{
  text-align: center;
}
.head {
  background-color: black;
  color: white;
}
.text1{
  position: absolute;
  top:30%;
  left: 6%;
  transform: translate(0%,-25%);
}
.text2{
  position: absolute;
  top:120%;
  left: 6%;
  transform: translate(0%,-25%);
}
.text > h2{
  font-size: 30px;
}
.text > p{
  font-size: 20px;
}
.end{
  position: absolute;
  top: 150%;
}
