*{
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", sans-serif;
}

.combustion-background{
  background-image: url("mercedesbackground.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.electric-background{
  background-image: url("teslabackgrond.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

nav ul{
  float: right;
  margin-top: 0.95vh;
  margin-left: 0.25vh;
  margin-right: 0.25vh;
}

nav ul li{
  display: inline-block;
  transition: box-shadow 0.5s;
  padding: 0.4vh 2vh;
}

nav li:hover{
  box-shadow: 0px 0px 0px 2px black inset;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

.logo img{
  width:30vh;
  position: relative;
  top:0%;
  right: 0%;
  margin-left:0.7vh;
  margin-top:0.7vh;
}

.title{
 text-align: center;
margin: 50px;
}

.title > h1{
  color: black;
  font-size: 70px;
}

.button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.text > p{
  font-size: 20px;
}
.text > h2{
  font-size: 30px;
}

.text{
  max-width: 960px;
  margin: auto;
margin-bottom: 50px;
}
